name: Open issue in github

on:
  workflow_dispatch:
    inputs:
      trigger-workflows:
        type: boolean
        description: Trigger other workflows on issue creation
        default: false
        required: false
      title:
        type: string
        required: true
        description: Issue title
      
      body:
        type: string
        required: false
        description: Issue body
        default: This issue was created by Github Actions workflow


jobs:
  open-issue:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Open issue
        uses: actions/github-script@v8
        with:
          github-token: ${{ inputs.trigger-workflows && secrets.MY_TOKEN || secrets.GITHUB_TOKEN}}
          script: |
            const title = "${{ inputs.title }}"
            const body = "${{ inputs.body }}"
            github.rest.issues.create({
              title,
              body,
              owner: context.repo.owner,
              repo: context.repo.repo
            })